body{
	margin: 1%;
	padding: 0;
	font-size: 16px;
	background-color: #93B7BE;
}

@media all and (min-width: 601px)
{
h1{
	color:black;
	font-size: 4rem;
}
nav ul{
	list-style-type: none;
	background-color: #454545;
	padding: 1%;

}
nav ul li{
	display: inline;
}
ul li a{
	color:white;
	margin-left: 1rem;
	font-size: 1.5rem;
	text-decoration-line: none;
}

.container{
	height: 100%;
	width: 100%;
	display: grid;
	grid-gap: 5%;
	grid-template-columns: 2fr auto 1fr;
	grid-template-areas: "conteudo conteudo lado";
}
.conteudo{
	margin: 5%;
	height: 100%;
	width: 100%;
	background-color: white;
	grid-area: conteudo;
}
.conteudo img{
	float: left;
	margin: 5%;
}
.conteudo p{
	margin: 10%;
	text-align: justify;
}
.lado{

	margin-top:11%;
	height: 100%;
	width: 50%;
	background-color: white;
	grid-area: lado;
}
.lado p{
	margin: 5%;
}
.about-me{
	display: flex;
	flex-direction: row;
	margin-top: 5%;
	margin-left:3%;
	margin-right: 15%;
	background-color:  #454545;
}
.about-me p{
	margin-right:10%;
	margin-left: 2%;
	text-align: justify;
	background-color: white;
	border-radius: 5%;
	 padding: 2%;

}
.about-me .icones{
	margin-right: 45%;
	display: flex;
	flex-direction: row;


}
h3{
	margin-left: 20%;
	margin-top: 1%;
	position: absolute;
	text-transform: uppercase;
}
.about-me img{
	margin: 2%;
	border-radius: 50%;
}
.icones{
	margin-top: 3%;
}
.fa-youtube{
	margin-top: 5%;
	font-size: 5rem;
	margin-left: 2%;
	color:red;
}
.fa-facebook-f{
	margin-top: 5%;
	font-size: 5rem;
	margin-left: 12%;
	color:blue;
}

	

}


/* A parte de baixo é para mobile */
@media all and (max-width: 600px){
	body{
		background-color: #93B7BE;
	}
 /* Aqui começa o menu */
	h1{
		text-align: center;
		font-size: 2rem;
		font-family: monospace;
		color:white;
	}

	nav ul{
		margin-top:0;
		background-color: #454545 ;
		list-style-type: none;
	}
	ul li{
		text-align: center;
		margin-bottom: 1%;
	}
	ul a{
		color:white;
		font-size:1.5rem;
		text-transform: uppercase;
	}
	ul a:hover{
		color:black;
		background-color: white;
	/* Aqui começa o conteudo */
	}
	.container{
	   -webkit-box-shadow: -7px 5px 17px 8px rgba(0,0,0,0.33);
       -moz-box-shadow: -7px 5px 17px 8px rgba(0,0,0,0.33);
        box-shadow: -7px 5px 17px 8px rgba(0,0,0,0.33);
		margin: 5%;
		display: flex;
		flex-direction: column;
		background-color:white;
	}
	.conteudo img{
		height: auto;
		width: 100%;
	}
	.conteudo p{
		padding: 5%;
	   text-align: justify;	
	}
	header{
		background-color: #93B7BE;
		
	}
	.about-me{
		display: flex;
		flex-direction: column;
		background-color: white;
		margin: 5%;
		align-items: center;
	}
	.about-me img{
		margin-top: 5%;
		 height: auto;
		 width:70%;
		border-radius: 50%;
		box-shadow: 2px 3px black;
		
	}
	.about-me p{
		text-align: justify;
		margin: 5%;
	}
	.lado{
		border-top: 20px solid #93B7BE;
		padding: 5%;
		text-align: justify;		
	}
	.icones{
		display: flex;
		flex-direction: row;
		padding: 5% 39%;
		padding: auto;
		background-color: #454545;
	}
	.icones i{
		margin-left:20%;
	}
}